.main-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  margin: auto;
  align-items: center;
  font-size: 1.7rem;
  line-height: 2.1rem;
  background-color: #bbb;
}

.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.header-menu-item {
  padding: 0 1rem;
  text-align: center;
  list-style-type: none;
}

.midsection-container h1 {
  text-align: center;
}

.intext-img {
  float: left;
  margin-right: 2rem;
  width: 400px;
  border-radius: 1rem;
}
